@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 8px solid rgb(87, 87, 87);
  border-right-color: rgb(243, 243, 243);
  animation: spin 1s linear infinite;
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.75);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
